/*

Project Name: Javajam Website (HW9);
Author: Best Jirayoot;
Date Last Modified: March 25, 2019;

*/

body{

	background-color: #FCEBB6;
	color: #221811;
	font-family: Arial, Verdana, sans-serif;

}

header{

	background-color: #D2B48C;
	text-align: center;
}

h1 {
	line-height: 200%;
}

nav {
	text-align: center;
	font-weight: bold;
}

footer {
	background-color: #D2B48C;
	font-size: .60em;
	font-style: italic;
	text-align: center;
}

#wrapper {
	
	margin-left: auto;
	margin-right: auto;
	width:80%;
}